* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #ebc0ad;
}
.container {
  margin: auto;
  width: 1300px;
  background-color: #02013d;
  padding: 20px;
}
.clearfix::after {
  content: "";
  clear: both;
  display: block;
}

/* .nav-header{

} */

/* 
    image backgroundcolor : #fca86c;
    1st slide: #02013d;
    2nd slide : #040444;
    linear gradient: #fb5fa9; #fca96f

*/
