* {
    font-family: Poppins;
}

body {
    background-color: #FFF7F4;
}

ul {
    list-style: none;
}

.navitem {
    color: black;
}

.talk-btn:hover,
.navitem:hover {
    color: #FF5300
}

.talk-btn {
    background-color: #FFF7F4;
    border-radius: 5px;
    border-width: 1px;
}

.start {
    background-color: #FF5300;
    border-radius: 5px;
    border: none;
}